---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Preloader from "../../components/Preloader.astro";
import LandingHeader from "../../components/LandingHeader.astro";
import GeneralFooter from "../../components/GeneralFooter.astro";
import Section from "../../components/Section.astro";
import InfoSection from "../../components/InfoSection.astro";
import PhotoSlider from "../../components/PhotoSlider.astro";

export async function getStaticPaths() {
    const vivienda = await getCollection("vivienda");

    return vivienda.map((casa) => ({
        params: { id: casa.slug },
        props: { casa },
    }));
}

const { casa } = Astro.props;
const { data } = casa;
const { title, description, main_img, main_video, m_array, p_array, f_array } = data;


const modelo = m_array ?? [];
const proceso = p_array ?? [];
const final = f_array ?? [];
---


<Layout title={title}>
    <Preloader />
    <LandingHeader />

    <!-- Presentación casa -->

    <div class="snap-center">
        <Section title={title}
                 subtitle={description}
                 color="white" 
                 bg_color = "black">

                 <img
                 slot="background"
                 class="h-full w-full object-center object-cover" 
                 src={main_img}>
    
        </Section>
    </div>

<!-- Modelo 3D -->

    <div class="snap-center">
        <InfoSection bg_color="black">
            <div slot="aux_slot" class="relative max-w-5xl mt-[130px] ml-20">
                <PhotoSlider images={modelo} />
            </div>
        </InfoSection>
    </div>

<!-- Proceso Constructivo -->

    <div class="snap-center">
        <InfoSection bg_color="gray-800"
                     bg_opacity = 0.8>
            <div slot="aux_slot" class="relative max-w-5xl mt-[130px] ml-[800px]">
                <PhotoSlider images={proceso} />
            </div>
        </InfoSection>
    </div>

<!-- Obra Final -->

    <div class="snap-center">
        <InfoSection bg_color="black">
            <div slot="aux_slot" class="relative max-w-5xl mt-[130px] ml-20">
                <PhotoSlider images={final} />
            </div>
        </InfoSection>
    </div>



    <div class="snap-center">
        <Section 
        title="¡Contáctanos ya!"
        subtitle="Haz tu proyecto realidad"
        bg_color="black"
        color="white">
                 <video 
                 slot="background" 
                 class="h-full w-full object-center object-cover" 
                 autoplay loop 
                 src={main_video}></video>

            
                 <div slot="footer">
                    <a 
                    class="border-2 rounded font-medium bg-black bg-opacity-60 
                    text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
                    hover:text-black transition-colors" href="/contacto">
                        Enviar un mensaje
                    </a>
                </div>
        </Section>
    </div>

    <GeneralFooter />
</Layout>