---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Preloader from "../../components/Preloader.astro";
import LandingHeader from "../../components/LandingHeader.astro";
import GeneralFooter from "../../components/GeneralFooter.astro";
import Section from "../../components/Section.astro";
import InfoSection from "../../components/InfoSection.astro";
import PhotoSlider from "../../components/PhotoSlider.astro";


export async function getStaticPaths() {
    const vivienda = await getCollection("vivienda");

    return vivienda.map((casa) => ({
        params: { id: casa.slug },
        props: { casa },
    }));
}

const { casa } = Astro.props;
const { data } = casa;
const { title, description, main_img, main_video, m_array, p_array, f_array } = data;


const modelo = m_array ?? [];
const proceso = p_array ?? [];
const final = f_array ?? [];
---


<Layout title={title}>
    <Preloader />
    <LandingHeader />

    <!-- Presentación casa -->

    <div class="snap-center">
        <Section title={title}
                 subtitle={description}
                 color="white" 
                 bg_color = "black">

                 <img
                 slot="background"
                 class="h-full w-full object-center object-cover" 
                 src={main_img}>
    
        </Section>
    </div>

<!-- Modelo 3D -->

    <div class="snap-center">
        <InfoSection bg_color="black">

            <div slot="aux_slot" class="relative max-w-4xl ">
                <PhotoSlider images={modelo} />
            </div>
            <div slot="aux_slot2" class="">
                <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-xl px-10 py-5">
                    En GRUPO TRIIO SpA, combinamos innovación, experiencia y profesionalismo para ofrecer servicios de arquitectura y construcción de alta calidad. Fundada en noviembre de 2016 por la arquitecta Pamela Marzán, titulada en la Universidad de Valparaíso y con un Diplomado en Evaluación y Preparación de Proyectos Inmobiliarios de la Universidad de Chile, nuestra empresa nace con la visión de redefinir los estándares en diseño y construcción.
                </p>   
            </div>
        </InfoSection>
    </div>

<!-- Proceso Constructivo -->

    <div class="snap-center">
        <InfoSection bg_color="gray-800"
                     bg_opacity = 0.8>

            <div slot="aux_slot20" class="relative sm:max-w-3xl md:max-w-4xl flex-wrap ">
                <PhotoSlider images={proceso} />
            </div>

            <div slot="aux_slot0" class="animate-fade-left duration-1000 animate-delay-300" >
                <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-lg">
                    En GRUPO TRIIO SpA, combinamos innovación, experiencia y profesionalismo para ofrecer servicios de arquitectura y construcción de alta calidad. Fundada en noviembre de 2016 por la arquitecta Pamela Marzán, titulada en la Universidad de Valparaíso y con un Diplomado en Evaluación y Preparación de Proyectos Inmobiliarios de la Universidad de Chile, nuestra empresa nace con la visión de redefinir los estándares en diseño y construcción.
                </p>   
            </div>

        </InfoSection>
    </div>

<!-- Obra Final -->

    <div class="snap-center">
        <InfoSection bg_color="black">
            <div slot="aux_slot" class="relative max-w-4xl flex-wrap">
                <PhotoSlider images={final} />
            </div>
            <div slot="aux_slot2" class="flex-wrap">
                <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-xl px-10 py-5">
                    En GRUPO TRIIO SpA, combinamos innovación, experiencia y profesionalismo para ofrecer servicios de arquitectura y construcción de alta calidad. Fundada en noviembre de 2016 por la arquitecta Pamela Marzán, titulada en la Universidad de Valparaíso y con un Diplomado en Evaluación y Preparación de Proyectos Inmobiliarios de la Universidad de Chile, nuestra empresa nace con la visión de redefinir los estándares en diseño y construcción.
                </p>   
            </div>
        </InfoSection>
    </div>



    <div class="snap-center">
        <Section 
        title="¡Contáctanos ya!"
        subtitle="Haz tu proyecto realidad"
        bg_color="black"
        color="white">
                 <video 
                 slot="background" 
                 class="h-full w-full object-center object-cover" 
                 autoplay loop 
                 src={main_video}></video>

            
                 <div slot="footer">
                    <a 
                    class="border-2 rounded font-medium bg-black bg-opacity-60 
                    text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
                    hover:text-black transition-colors" href="/contacto">
                        Enviar un mensaje
                    </a>
                </div>
        </Section>
    </div>

    <GeneralFooter />
</Layout>